<!-- templates/advanced_layout.html -->
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - My App</title>
    <meta name="description" content="{% block description %}Default description{% endblock %}">
    {% endblock %}
</head>
<body class="p-0 m-0">
    {% block header %}
    <header>Default Header</header>
    {% endblock %}

    {% block main %}{% endblock %}

    {% block sidebar %}
    <aside>Default Sidebar</aside>
    {% endblock %}

    {% block footer %}
    <footer>Default Footer</footer>
    {% endblock %}
</body>
</html>